<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="icon" href="{{ "/assets/images/logo.png" | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>


    <!-- Side Navigation Panel -->
    <nav class="side-nav">
        <!-- Cover Image -->
        <div class="cover-image">
            <img src="{{ '/assets/images/cover.jpg' | relative_url }}" alt="Cover Image">
        </div>
        <div class="name-title">
            Ahmed Jerbi
        </div>
        <p>
            Software Engineer with a passion for Audiovisual Arts.<br>
            This blog is a collection of some of the things I do for a living, or for fun.
        </p> 
        <ul>
            <li><a href="{{ site.baseurl }}/_pages/about.html">About</a></li>
            <li><a href="{{ site.baseurl }}/_pages/Projects.html">Engineering Projects</a></li>
            <li><a href="https://500px.com/p/ahmed_jerbi?view=photos" target="_blank">Photography</a></li>
            <li><a href="{{ site.baseurl }}/_pages/Videography.html">Videography</a></li>
            <li><a href="{{ site.baseurl }}/_pages/music.html">Music</a></li>
            <li><a href="{{ site.baseurl }}/hosted_apps">Hosted Apps</a></li>
            <li><a href="{{ site.baseurl }}/_pages/contact.html">Contact</a></li>
        </ul>
    </nav>



    <!-- Main Content -->
    <div class="main-content">

        <!-- Page Content -->
        <div class="page-content">
            {{ content }}
        </div>

    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; {{ site.author }} | All rights reserved</p>
    </footer>





</body>


</html>