/* Define color palette */
:root {
    --primary-color: #e3e3e3; /* Primary color */
    --text-color: #000000; /* Secondary color */
    --hover-color: #a91111; /* Hover color */
    --body-background-color: #f6f6f6;
    --side-color: #f2f2f2;
}

.container {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center content horizontally */
}

/* Main */
body {
    font-family: "MyFont", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:large;
    color: var(--text-color); /* Use secondary color for text */
    background-color: var(--body-background-color);
    margin-left: 300px; /* Remove default margin */
    margin-right: 200px; /* Remove default margin */
    margin-top: 50px;
    padding: 0; /* Remove default padding */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Main content (Column 2) */
.main-content {
    flex: 1; /* Take up remaining space */
    padding: 20px;
    margin-top: 1px;
    margin-left: 350px; /* Adjusted margin left to accommodate sidebar width */
    border-top: 2px solid var(--text-color); /* Top black bar */
    border-bottom: 2px solid var(--text-color); /* Bottom black bar */
}

/* Sidebar */
.side-nav {
    width: 300px;
    height: 100vh; /* Full height */
    background-color: var(--side-color); /* Use primary color for background */
    color: var(--text-color); /* Use secondary color for text */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    position: fixed; /* Fix sidebar position */
    font-size:larger;
    border-top: 2px solid var(--text-color); /* Top black bar */
    padding: 25px 10px 0px 10px;

}

    .side-nav ul {
        list-style-type: none;
        padding: 0;
        width: 100%;
        margin: 0;
    }

        .side-nav ul li {
            padding: 10px;
            text-align: center;
            transition: background-color 0.3s;
        }

            .side-nav ul li a {
                color: var(--secondary-color); /* Use secondary color for link text */
                text-decoration: none;
                display: block;
            }

            .side-nav ul li:hover {
                background-color: var(--hover-color); /* Use hover color for background on hover */
                color: #f6f6f6;
            }
            
            .side-nav p{
                font-size: 16px; /* size of the intro text */
                padding: 15px;
                color: #555555;
            }

.name-title{
 font-size: 24px; /* size of the intro text */
 padding-top: 15px;
}


/* Cover Image */
.cover-image img {
    width: 100%;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

/* Header */
header {
    background-color: var(--body-background-color-color);
    color: var(--secondary-color);
    padding: 0px;
    font-size: 12px;
    text-align:center;
    top: 20px;
    position: fixed; /* Fix header position */
    left: 450px; /* Account for sidebar width */
    width: calc(100% - 650px); /* Adjust width to fit remaining space */
}

/* Footer */
footer {
    background-color: var(--side-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 5px;
    position: fixed; /* Fix footer position */
    bottom: 0; /* Position from the bottom */
    left: 350px; /* Account for sidebar width */
    width: calc(100% - 650px); /* Adjust width to fit remaining space */
    font-size: 12px;
    border-top: 2px solid var(--text-color); /* Top black bar */
}

  /* post box */

.post-list {
    list-style-type: none;
    padding: 0;
  }
  
  .post-list li {
    margin-bottom: 10px;
  }
  
  .post-date {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .post-link {
    text-decoration: none;
    color: #007acc;

  }
  
  .post-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .post-box {
    width: 280px;
    border: 1px solid #ddd;
    padding: 10px;
    transition: transform 0.2s;
  }
  
  .post-box:hover {
    transform: scale(1.05);
  }
  
  .post-title {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
  }
  
  .post-box img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

