/* Define color palette */
:root {
    --primary-color: #868686; /* Primary color */
    --text-color: #000000; /* Secondary color */
    --hover-color: #a91111; /* Hover color */
    --body-background-color: #f6f6f6;
    --side-color: #d1d0d0;
}

.container {
    display: flex; /* Use flexbox */
}

/* Main */
body {
    font-family: "MyFont", monospace;
    color: var(--text-color); /* Use secondary color for text */
    background-color: var(--body-background-color);
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Main content (Column 2) */
.main-content {
    flex: 1; /* Take up remaining space */
    padding: 20px;
    margin-left: 250px; /* Adjusted margin left to accommodate sidebar width */
}

/* Sidebar */
.side-nav {
    width: 250px;
    height: 100vh; /* Full height */
    background-color: var(--side-color); /* Use primary color for background */
    color: var(--text-color); /* Use secondary color for text */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    position: fixed; /* Fix sidebar position */
    top: 0; /* Position from the top */
    left: 0; /* Position from the left */
}

    .side-nav ul {
        list-style-type: none;
        padding: 0;
        width: 100%;
        margin: 0;
    }

        .side-nav ul li {
            padding: 10px;
            text-align: center;
            transition: background-color 0.3s;
        }

            .side-nav ul li a {
                color: var(--secondary-color); /* Use secondary color for link text */
                text-decoration: none;
                display: block;
            }

            .side-nav ul li:hover {
                background-color: var(--hover-color); /* Use hover color for background on hover */
                color: #f6f6f6;
            }

/* Cover Image */
.cover-image img {
    width: 100%;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

/* Header */
header {
    background-color: var(--side-color);
    color: var(--secondary-color);
    padding: 20px;
    text-align: left;
    position: fixed; /* Fix header position */
    top: 0; /* Position from the top */
    left: 250px; /* Account for sidebar width */
    width: calc(100% - 250px); /* Adjust width to fit remaining space */
}

/* Footer */
footer {
    background-color: var(--side-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 20px;
    position: fixed; /* Fix footer position */
    bottom: 0; /* Position from the bottom */
    left: 250px; /* Account for sidebar width */
    width: calc(100% - 250px); /* Adjust width to fit remaining space */
}


.post-list {
    list-style-type: none;
    padding: 0;
  }
  
  .post-list li {
    margin-bottom: 10px;
  }
  
  .post-date {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .post-link {
    text-decoration: none;
    color: #007acc;
  }
  
  .post-link:hover {
    text-decoration: underline;
  }